* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(91, 89, 89);
}

.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.grid-square {
    background-color: aliceblue;
}